/* Better Defaults */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Wrapper Setup */

body {
    font: 100%/1.5 sans-serif, system-ui;
    display: flex;
    flex-flow: column;
    max-width: 80ch;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
    background-color: rgb(28, 28, 28);
}

p {
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

/* Map Component */

#map-container {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
    gap: 1em;
    align-items: center;
    /* background-color: rgba(0, 0, 0, .2); */
    padding: 1em;
    min-width: 400px;
}

#map-container p {
    text-align: center;
}

#map {
    width: 100%;
    height: fit-content;
}

#map-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    color: white;
}

#map-slider {
    appearance: none;
    width: 100%;
    max-width: 400px;
    height: 10px;
    background: darkgray;
    border-radius: 5px;
    margin-bottom: 1em;
}

#map-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: solid 2px rgb(28, 28, 28);
    cursor: pointer;
}

#tooltip {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid black;
    pointer-events: none;
    opacity: 0;
}

#legend {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#legend svg {
    width: 100%;
    height: auto;
}

.dynamic,
.static {
    display: grid;
    grid-template-rows: repeat(2, auto);
    height: 100%;
    width: 100%;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-radius: 1%; */
    /* background-color: rgba(0, 0, 0, .2); */
    padding: 1em;
    min-width: 400px;
}

.dynamic p,
.static p {
    padding: .5em 1em;
    text-align: justify;
}

/* axis styling */

.domain,
.tick line {
    stroke: white;
}

.tick text {
    fill: white;
}

/* coloring bar title */
/* TODO: REMOVE PLOT TITLE FROM BAR CHART AND JUST MAKE IT HTML*/

.bar-chart-title {
    fill: white;
}

/* text color for banffs part */

#year-info {
    color: white;
}

/* static and dynamic text */
