/* Better Defaults */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Wrapper Setup */

body {
    font: 100%/1.5 sans-serif, system-ui;
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
    background-color: rgb(28, 28, 28);
    /* for the virtual scrolling */
    overflow: hidden;
}

p {
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

/* Layout */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    /* for the virtual scrolling */
    overflow: hidden;
}

#left-column {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#right-column {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
}

/* Introduction / Hook Section */

header {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

header p {
    max-width: 80ch;
}

/* Map */

#map {
    width: 100%;
    height: fit-content;
}

/* Tooltip */

#tooltip {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid black;
    pointer-events: none;
    opacity: 0;
}

/* Legend */

#legend {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#legend svg {
    width: 100%;
    height: auto;
}

/* Bar */

#bar-chart-container {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
}


/* Axis' */

.domain,
.tick line {
    stroke: white;
}

.tick text {
    fill: white;
}

/* Static and Dynamic */

.dynamic {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: solid black 1px;
}

.dynamic p {
    padding: .5em 1em;
    text-align: justify;
}

/* text color for banffs part */

#year-info {
    color: white;
}