/* Better Defaults */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Wrapper Setup */

body {
    font: 100%/1.5 sans-serif, system-ui;
    display: flex;
    flex-flow: column;
    max-width: 80ch;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
}

/* Map Component */

#map-container {
    border: 1px solid black;
}

#map {
    width: 100%;
    height: fit-content;
}

#map-label {
    display: flex;
    justify-content: space-between;
}

#map-slider {
    width: 100%;
}

#tooltip {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid black;
    pointer-events: none;
    opacity: 0;
}